.features
    margin-top: 40px
    &-item
        width: 49%
        padding: 40px 70px 270px
        position: relative
        background-color: #efefef
        &:hover
            img
                transform: scale(1.2)

    h4
        color: #1E1E44

        span
            font-size: 18px
            font-weight: 600
    p
        font-size: 16px
        font-style: normal
        font-weight: 400
        color: #1E1E44

    &-img
        display: block
        width: 100%
        height: 200px
        overflow: hidden
        position: absolute
        left: 0
        bottom: 0
        img
            width: 100%
            height: 100%
            transition: .3 ease all
            display: block
            object-fit: cover
            transition: all ease .3s
            background-color: red

    .wrap
        gap: 30px 2%
        align-items: stretch
