@import 'normolize'
@import 'elements'
@import 'header'
@import 'vitamins'
@import 'footer'

.main
	padding: 100px 0 0
	position: relative
	z-index: 1
	overflow: hidden
	&-content
		position: static
		z-index: unset
		background: linear-gradient(180deg, #FFF 0%, #EEE 100%)
		.container
			position: relative
			z-index: 1000

	h1
		max-width: 600px

	&__text
		max-width: 600px
		margin-bottom: 50px

	&__img
		position: absolute
		right: 0
		top: -50px
		max-width: 45%

	&__link
		padding: 22px 30px
		color: black
		display: inline-block
		&:hover
			text-decoration: underline

	&-bg
		pointer-events: none
		position: absolute
		top: 0
		z-index: 1
		width: 1100px
		left: 18%
		height: 100%
		img
			position: absolute
			&:nth-of-type(1)
				left: -40% !important
				top: 8% !important
			&:nth-of-type(2)
				left: 20% !important
				top: -8% !important
				opacity: .8
			&:nth-of-type(3)
				width: 300px
				left: 18% !important
				top: 35% !important
				opacity: .6
			&:nth-of-type(4)
				left: auto !important
				right: -10% !important
				top: 40% !important

		span
			display: inline-block
			width: 10px
			height: 10px
			border-radius: 50%
			background-color: $prime
			position: absolute
			&:nth-of-type(1)
				width: 9px
				height: 9px
				left: -15% !important
				top: 17% !important
			&:nth-of-type(2)
				width: 18px
				height: 18px
				left: 50% !important
				top: 10% !important
			&:nth-of-type(3)
				width: 10px
				height: 10px
				left: 105% !important
				top: 14% !important
			&:nth-of-type(4)
				width: 18px
				height: 18px
				left: 0 !important
				top: 55% !important
			&:nth-of-type(5)
				width: 9px
				height: 9px
				left: 30% !important
				top: 45% !important
			&:nth-of-type(6)
				width: 10px
				height: 10px
				left: 100% !important
				top: 54% !important

.info
	padding: 70px 0 0
	position: relative
	overflow: hidden
	&::before
		content: ''
		display: block
		width: 100vw
		height: 140%
		position: absolute
		bottom: 28%
		transform: translateX(-50%)
		left: 50%
		border-radius: 50%
		background-color: #EEE

	.container
		position: relative
		z-index: 1000

	h2
		max-width: 460px
		margin: 0 auto 50px
		text-align: center
		mark
			display: block

	.container
		max-width: 1250px

	.wrap
		justify-content: center
		position: relative
		padding: 50px 0

	&__img
		display: block
		max-width: 430px

	p
		display: flex
		align-items: center
		gap: 20px
		border-radius: 10px
		background: linear-gradient(88deg, #53D1E8 6.25%, #38C1DA 93.75%)
		color: #fff
		padding: 25px
		max-width: 290px
		font-size: 14px
		font-weight: 500
		margin: 0
		position: absolute
		img
			width: 36px

		&:first-of-type
			left: 8%
			top: 0
		&:nth-of-type(2)
			left: 0
			bottom: 38%
		&:nth-of-type(3)
			right: 8%
			top: 0
		&:nth-of-type(4)
			right: 0
			bottom: 38%

.tag
	background-color: #F7EB83
	padding: 12px
	border-radius: 8px
	color: #222
	font-size: 14px
	font-style: normal
	font-weight: 600

.descr6
	color: #181843
	font-size: 35px
	width: 100px
	display: none

.reazon
	position: relative
	overflow: hidden
	&::before
		content: ''
		display: block
		width: 100%
		height: 90%
		background-color: #EFEFEF
		position: absolute
		top: 0
		left: 0
		z-index: -1
	
	.container
		position: relative
		top: 100px
		z-index: 1

	.title
		.wrap
			justify-content: start
			gap: 15px
			margin-top: 25px

	&-info
		align-items: stretch
		flex-wrap: nowrap
		gap: 0 !important

	&-img
		max-width: 25%
		background: linear-gradient(215deg, #F3EA88 2.26%, #D3C95E 97.77%)
		img
			height: 100%
			width: 140%
			max-width: unset
			position: relative
			left: -20%
			z-index: 1
			object-fit: contain
			object-position: center bottom

	&-content
		background-color: #F7F7F7
		padding: 70px 80px
		max-width: 75%
		.heading
			span
				display: block
				font-size: 28px
				line-height: 36px
				font-style: normal
				font-weight: 400
				letter-spacing: 0.28px
				text-transform: uppercase
				color: #494948
				&:nth-of-type(1)
					color: #E1D4CD
				&:nth-of-type(2)
					font-size: 33px
					font-style: normal
					font-weight: 800
					letter-spacing: 0.33px
					text-transform: uppercase
				&:nth-of-type(3)
					font-size: 42px
					font-style: normal
					font-weight: 800
					letter-spacing: 0.33px
					text-transform: uppercase

		.text
			color: #13132C
			font-size: 16px
			font-style: normal
			font-weight: 300
			line-height: 22px
			letter-spacing: 0.16px
			max-width: 65%

	ul
		display: flex
		flex-wrap: wrap
		margin: 60px 0 50px
		gap: 40px 3% 
		li
			width: 30%
			color: #181843
			font-size: 14px
			position: relative
			z-index: 1
			&::before
				content: ''
				display: inline-block
				width: 12px
				height: 12px
				position: absolute
				left: 0
				border-radius: 50%
				background-color: #e0bdbd
				top: 50%
				transform: translateY(-50%)

	.simp
		padding: 30px 0 0
		border-top: 1px solid #E8E8E8
		color: #762D1A
		font-size: 15px
		line-height: 18px
		font-weight: 400

	&-bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: -1

		img
			position: absolute
			&:nth-of-type(1)
				width: 600px
				left: 80% !important
				top: 1% !important
			&:nth-of-type(2)
				width: 400px
				left: -14% !important
				top: 20% !important

		span
			display: inline-block
			width: 10px
			height: 10px
			border-radius: 50%
			background-color: $prime
			position: absolute
			&:nth-of-type(1)
				width: 12px
				height: 12px
				left: 3% !important
				top: 16% !important
			&:nth-of-type(2)
				right: 18% !important
				left: auto !important
				top: 1% !important
			&:nth-of-type(3)
				top: auto !important
				right: -2% !important
				left: auto !important
				bottom: 150px !important

.buy
	.content
		background-color: #f3f3f3
		border-left: 10px solid $prime
		position: relative
		z-index: 1
		.wrap
			margin: 0 auto 0 0
			max-width: 67%
			padding: 30px 55px
			justify-content: flex-start
			gap: 26px 28px
			img
				display: inline-block

	&__img
		position: absolute
		right: 10px
		bottom: 0
		max-width: 350px

@media screen and ( max-width: 1500px )
	.main
		&-content
			padding: 60px 0

	.reazon 
		&-content 
			padding: 60px 50px

		ul 
			gap: 30px 3%
			margin: 50px 0 40px
			li 
				width: 31%
				padding-left: 20px
				&::before
					width: 9px	
					height: 9px	

@media screen and ( max-width: 1200px )
	.main
		display: block
		.func
			font-size: 25px
		.asimg
			margin-top: 40px
	.descr6
		display: block
		color: #494948
		font-size: 17.8px
		padding: 15px 24px
		.span1
			color: #FFF
			font-size: 15px
	.descr7
		display: block
		color: #181843
		font-size: 15px
		margin: 30px 0px
	hr
		display: none
	.simp
		display: none
	.rezon
		.d
			.d1
				img
					max-width: 120%
					height: 451px
					object-fit: cover
					position: relative
					object-position: top right
					display: block
					margin-left: -50px
					margin-top: 10px
@media screen and ( max-width: 900px )
	.ros
		background-color: #f3f3f3
		border-left: 10px solid orange
		max-width: 1388px
		.wrap1
			padding: 15px 61px
			img
				padding: 15px 10px
				width: 100px
	.wrap
		// display: block
		.catalog
			width: 100%

	.rezon
		.d
			.d2
				padding: 0px 10px
		ul
			margin-top: 60px
			li
				margin-top: -30px
				width: 350px
				font-size: 14px
		.texr
			display: block
			color: #762D1A
			font-size: 16px
			font-weight: 400
			padding: 20px 42px
	.video
		width: 700px
		margin-left: 80px
	.rezon
		.d
			.d1
				img
					max-width: 120%
					height: 370px
					object-fit: cover
					position: relative
					object-position: top right
					display: block
					margin-left: 10px
					margin-top: 10px
@media screen and ( max-width: 780px )
	.video
		width: 500px
		margin-left: 50px
@media screen and ( max-width: 780px )
	.video
		width: 450px
		margin-left: 20px
@media screen and ( max-width: 580px )
	.ros
		background-color: #f3f3f3
		border-left: 10px solid orange
		max-width: 1388px
		.wrap1
			padding: 10px 41px
			img
				padding: 10px 10px
				width: 90px
